@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --background: oklch(1.0000 0 0);

    --foreground: oklch(0.1371 0.0360 258.5258);

    --card: oklch(1.0000 0 0);

    --card-foreground: oklch(0.1371 0.0360 258.5258);

    --popover: oklch(1.0000 0 0);

    --popover-foreground: oklch(0.1371 0.0360 258.5258);

    --primary: oklch(0.5460 0.2153 262.8719);

    --primary-foreground: oklch(0.9843 0.0017 247.8393);

    --secondary: oklch(0.9684 0.0068 247.8951);

    --secondary-foreground: oklch(0.2079 0.0399 265.7275);

    --muted: oklch(0.9684 0.0068 247.8951);

    --muted-foreground: oklch(0.5547 0.0407 257.4404);

    --accent: oklch(0.9684 0.0068 247.8951);

    --accent-foreground: oklch(0.2079 0.0399 265.7275);

    --destructive: oklch(0.6368 0.2078 25.3259);

    --destructive-foreground: oklch(0.9843 0.0017 247.8393);

    --border: oklch(0.9290 0.0126 255.5317);

    --input: oklch(0.9290 0.0126 255.5317);

    --ring: oklch(0.5460 0.2153 262.8719);

    --chart-1: oklch(0.5460 0.2153 262.8719);

    --chart-2: oklch(0.6356 0.1398 156.1492);

    --chart-3: oklch(0.7619 0.1504 61.6109);

    --chart-4: oklch(0.5098 0.2439 299.8167);

    --chart-5: oklch(0.6295 0.1785 23.7701);

    --radius: 0.5rem;

    --sidebar: oklch(0.1371 0.0360 258.5258);

    --sidebar-foreground: oklch(0.9843 0.0017 247.8393);

    --sidebar-primary: oklch(0.5460 0.2153 262.8719);

    --sidebar-primary-foreground: oklch(0.9843 0.0017 247.8393);

    --sidebar-accent: oklch(0.2800 0.0369 259.9740);

    --sidebar-accent-foreground: oklch(0.9843 0.0017 247.8393);

    --sidebar-border: oklch(0.2800 0.0369 259.9740);

    --sidebar-ring: oklch(0.5460 0.2153 262.8719);

    --font-sans: 'Inter', sans-serif;

    --font-serif: 'Lora', serif;

    --font-mono: 'Fira Code', monospace;

    --shadow-color: hsl(222.2 84% 4.9%);

    --shadow-opacity: 0.1;

    --shadow-blur: 10px;

    --shadow-spread: 0px;

    --shadow-offset-x: 0px;

    --shadow-offset-y: 4px;

    --letter-spacing: 0em;

    --spacing: 0.25rem;

    --shadow-2xs: 0px 4px 10px 0px hsl(222.2000 84% 4.9000% / 0.05);

    --shadow-xs: 0px 4px 10px 0px hsl(222.2000 84% 4.9000% / 0.05);

    --shadow-sm: 0px 4px 10px 0px hsl(222.2000 84% 4.9000% / 0.10), 0px 1px 2px -1px hsl(222.2000 84% 4.9000% / 0.10);

    --shadow: 0px 4px 10px 0px hsl(222.2000 84% 4.9000% / 0.10), 0px 1px 2px -1px hsl(222.2000 84% 4.9000% / 0.10);

    --shadow-md: 0px 4px 10px 0px hsl(222.2000 84% 4.9000% / 0.10), 0px 2px 4px -1px hsl(222.2000 84% 4.9000% / 0.10);

    --shadow-lg: 0px 4px 10px 0px hsl(222.2000 84% 4.9000% / 0.10), 0px 4px 6px -1px hsl(222.2000 84% 4.9000% / 0.10);

    --shadow-xl: 0px 4px 10px 0px hsl(222.2000 84% 4.9000% / 0.10), 0px 8px 10px -1px hsl(222.2000 84% 4.9000% / 0.10);

    --shadow-2xl: 0px 4px 10px 0px hsl(222.2000 84% 4.9000% / 0.25);

    --tracking-normal: 0em}
  .dark {

    --background: oklch(0.1371 0.0360 258.5258);

    --foreground: oklch(0.9843 0.0017 247.8393);

    --card: oklch(0.1371 0.0360 258.5258);

    --card-foreground: oklch(0.9843 0.0017 247.8393);

    --popover: oklch(0.1371 0.0360 258.5258);

    --popover-foreground: oklch(0.9843 0.0017 247.8393);

    --primary: oklch(0.6240 0.1875 259.7923);

    --primary-foreground: oklch(0.2079 0.0399 265.7275);

    --secondary: oklch(0.2800 0.0369 259.9740);

    --secondary-foreground: oklch(0.9843 0.0017 247.8393);

    --muted: oklch(0.2800 0.0369 259.9740);

    --muted-foreground: oklch(0.7107 0.0351 256.7877);

    --accent: oklch(0.2800 0.0369 259.9740);

    --accent-foreground: oklch(0.9843 0.0017 247.8393);

    --destructive: oklch(0.3959 0.1331 25.7205);

    --destructive-foreground: oklch(0.9843 0.0017 247.8393);

    --border: oklch(0.2800 0.0369 259.9740);

    --input: oklch(0.2800 0.0369 259.9740);

    --ring: oklch(0.6240 0.1875 259.7923);

    --chart-1: oklch(0.6240 0.1875 259.7923);

    --chart-2: oklch(0.6356 0.1398 156.1492);

    --chart-3: oklch(0.7619 0.1504 61.6109);

    --chart-4: oklch(0.5098 0.2439 299.8167);

    --chart-5: oklch(0.6295 0.1785 23.7701);

    --radius: 0.5rem;

    --sidebar: oklch(0.9843 0.0017 247.8393);

    --sidebar-foreground: oklch(0.1371 0.0360 258.5258);

    --sidebar-primary: oklch(0.6240 0.1875 259.7923);

    --sidebar-primary-foreground: oklch(0.1371 0.0360 258.5258);

    --sidebar-accent: oklch(0.9684 0.0068 247.8951);

    --sidebar-accent-foreground: oklch(0.1371 0.0360 258.5258);

    --sidebar-border: oklch(0.9290 0.0126 255.5317);

    --sidebar-ring: oklch(0.6240 0.1875 259.7923);

    --font-sans: 'Inter', sans-serif;

    --font-serif: 'Lora', serif;

    --font-mono: 'Fira Code', monospace;

    --shadow-color: hsl(0 0% 0%);

    --shadow-opacity: 0.5;

    --shadow-blur: 10px;

    --shadow-spread: 0px;

    --shadow-offset-x: 0px;

    --shadow-offset-y: 4px;

    --letter-spacing: 0em;

    --spacing: 0.25rem;

    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);

    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);

    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);

    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);

    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.50), 0px 2px 4px -1px hsl(0 0% 0% / 0.50);

    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.50), 0px 4px 6px -1px hsl(0 0% 0% / 0.50);

    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.50), 0px 8px 10px -1px hsl(0 0% 0% / 0.50);

    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 1.25)}
  .theme {

    --font-sans: 'Inter', sans-serif;

    --font-mono: 'Fira Code', monospace;

    --font-serif: 'Lora', serif;

    --radius: 0.5rem;

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);

    --tracking-tight: calc(var(--tracking-normal) - 0.025em);

    --tracking-wide: calc(var(--tracking-normal) + 0.025em);

    --tracking-wider: calc(var(--tracking-normal) + 0.05em);

    --tracking-widest: calc(var(--tracking-normal) + 0.1em)
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}